body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin: 20px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li::before {
    content: "\2022";
    color: #007BFF;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.profile-img {
    max-width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

footer p {
    margin-top: 20px;
    font-size: 18px;
}
